.financial-input {
    &-instruction-text {
        margin-bottom: 2rem;
    }

    &-container {
        display: flex;
        flex-direction: column;
    }

    &-dropdown-label-container {
        width: 12rem;

        .p-dropdown {
            width: 100%;
        }
    }
}