.financial-input {
    &-instruction-text {
        margin-bottom: 2rem;
    }

    &-container {
        display: flex;
        flex-direction: column;
        width: 40%;
    }
    &-text-label {
        margin-bottom: 0.25rem;
    }

    &-dropdown-label-container {
        width: 12rem;

        .p-dropdown {
            width: 100%;
        }
    }
}